*{
    box-sizing: border-box;
}



.carousel-item img{
    height: 650px;
 
}

@media(max-width:750px){

    .carousel-item img{
height: 550px;
    }
}


@media(max-width:650px){
    .carousel-item img{
height: 500px;
    }
}

@media(max-width:550px){
    .carousel-inner{
        margin-top: 10%;
            }
    .carousel-item img{
height: 400px;
    }
}


@media(max-width:450px){
    .carousel-inner{
margin-top: 15%;
    }
    .carousel-item img{
height: 300px;
    }
}
@media(max-width:300px){
    .carousel-item img{
height: 250px;
    }
}




@media(max-width:350px){
    .carousel-item img{
height: 200px;
    }
    .carousel-inner{
        margin-top: 20%;
            }
}


